<!-- <div class="chat-area" *ngIf="dialogId"> -->
<!-- <div class="chat-area">
  {{ currentRoom?.id }}
  <div *ngFor="let message of currentRoom?.messages; let i = index" class="message-container">
    <div class="message">
      {{ message.content }}
    </div>
    <span class="timestamp">{{ timestamps[i] }}</span>
  </div>
</div> -->

<div class="chat-area">
  <div *ngFor="let message of currentRoom?.messages" class="message-container" (contextmenu)="showContextMenu($event, message)">
    <div class="message" >
      <!-- {{ message.content }} -->
      {{ message }}
    </div>
    <span class="timestamp">{{ message.date }}</span>
    <div *ngIf="showMenu && selectedMessage === message" class="context-menu" [style.left.px]="contextMenuPosition.x" [style.top.px]="contextMenuPosition.y">
      <ul>
        <li (click)="deleteMessage(message)">Удалить</li>
        <li (click)="editMessage(message)">Изменить</li>
      </ul>
    </div>

  </div>
  <!-- <div *ngFor="let message of currentRoom?.messages" class="message-container user-message">
    <div class="message user-message">
      {{ message.content }}
    </div>
    <span class="timestamp user-message">{{ message.date }}</span>
  </div> -->
</div>

<div class="message-field">
  <div class="attach">
  </div>

  <div class="text-area">
    <textarea [(ngModel)]="newMessage" placeholder="Введите сообщение..."></textarea>
  </div>
  <div class="emoji">
  </div>

  <!-- <div (click)="sendMessage()" class="send">
  </div> -->
  <div (click)="sendMessage()" class="send">
  </div>


</div>
