<!-- <div class="chat-area" *ngIf="dialogId"> -->
<div class="chat-area">
  <div class="message-block-send-wrapper">
    <div *ngFor="let message of messages" class="message-block-send">

      {{ message }}
    </div>
  </div>

    <div *ngFor="let message of messages" class="message-block-rec">
      {{ message }}
    </div>

</div>

<div class="message-field">
  <div class="attach">
  </div>

  <div class="text-area">
    <textarea [(ngModel)]="newMessage" placeholder="Введите сообщение..."></textarea>
  </div>
  <div class="emoji">
  </div>

  <div (click)="sendMessage()" class="send">
  </div>


</div>
