<!-- <div class="chat-area" *ngIf="dialogId"> -->
<div class="chat-area">
  {{ currentRoom?.id }}
  <div *ngFor="let message of currentRoom?.messages; let i = index" class="message-container">
    <div class="message">
      {{ message.content }}
    </div>
    <span class="timestamp">{{ timestamps[i] }}</span>
  </div>
</div>

<div class="message-field">
  <div class="attach">
  </div>

  <div class="text-area">
    <textarea [(ngModel)]="newMessage" placeholder="Введите сообщение..."></textarea>
  </div>
  <div class="emoji">
  </div>

  <div (click)="sendMessage()" class="send">
  </div>


</div>
