/* You can add global styles to this file, and also import other style files */
.app-container {
  width: 773px;
  height: 770px;
  margin: auto;
  display: flex;
  flex-direction: column;

  app-top-bar {
    width: 773px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .burger-icon{
      width: 20px;
      height: 20px;
      margin-left: 20px;
      background-image: url('svg-pic/burger.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .search-container {
      width: 250px;
      height: 28px;
      display: flex;
      margin-right: 80px;
      border-radius: 5px;
      background-color: #ffffff;

      .lupa {
        width: 17px;
        height: 17px;
        margin-left: 7px;
        align-self: center;
        background-image: url('svg-pic/lupa.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .search {
        font-family: 'Sitara', Arial, sans-serif;
        margin-left: 7px;
        font-size: 13px;
        color: #9b9b9b;
        align-self: center;
      }
    }

    .name-container {
      width: 250px;
      height: 28px;
      display: flex;
      justify-content: center;

      .FIO {
        font-family: 'Sitara', Arial, sans-serif;
        font-size: 15px;
        font-weight: bold;
        align-self: center;
        color: #5c5b5b;
      }

      .dots {
        width: 18px;
        height: 18px;
        margin-left: 20px;
        background-image: url('svg-pic/3-dots.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        align-self: center;
      }
    }

    .cancel-icon{
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background-image: url('svg-pic/cancel.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .content {
    display: flex;
    flex: 1;

    app-chats-list {
      flex: 0 0 360px;
      width: 360px;
      height: 473px;
      background-color: #fcfcfc;
      display: flex;
      flex-direction:column;
      align-items:normal;
      border-radius: 0 0 0 15px;
      border: 0.5px solid #f0f0f0;

      .dialog {
        //width: 360px;
        height: 70px;
        border: 1px solid #f0f0f0;
        border-left: none;
        border-right: none;
        border-top: none;
        //display: block;
        display: flex;
        flex-direction: row;

        .ava {
          width: 34px;
          height: 34px;
          margin: 18px;
          background-image: url('svg-pic/ava.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          align-self: center;
        }
        .cont-col{
          position: relative;
          font-family: 'Sitara', Arial, sans-serif;
          font-size: 14px;
          width: 290px;

          .name-dial{
            margin-top: 13px;
            color: #2C2C2C;
          }

          .text {
            color: #909CAC;
            margin-top: 8px;
            //border: 1px solid #be3e3e;
          }

          .zakrep {
            width: 14px;
            height: 12px;
            position: absolute;
            right: 13px;
            top: 13px;
            background-image: url('svg-pic/zakrep.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            align-self: center;
          }
          .time-rec-sen{
            position: absolute;
            right: 10px;
            bottom: 14px;
            font-family: 'Sitara', Arial, sans-serif;
            font-size: 12px;
            color: #666E79;
          }
        }
      }
    }

    app-chat-current {
      flex: 0 0 410px;
      //width: 410px;
      //height: 473px;
      background-color: #fafafa;
      border-radius: 0 0 15px 0;
      border: 0.5px solid #f0f0f0;
      border-left: none;
      display: flex;
      flex-direction: column;

      .chat-area{
        //width: 410px;
        height: 413px;

        .message-block-rec {
          max-width: 230px;
         //min-width: 35px;
          width: fit-content;
          //height: 80px;
          margin: 10px;
          border-radius: 5px;
          font-family: 'Sitara', Arial, sans-serif;
          font-size: 13px;
          background-color: #EFE4E4;
          color: #343846;
          padding: 10px;

          .timestamp {
            font-size: 0.8em;
            color: #888;
          }
        }
        .message-block-send-wrapper{

          display: flex;
          //width: 100%;
          justify-content: flex-end;

          .message-block-send {
            max-width: 230px;
          //min-width: 35px;
            width: fit-content;

            //height: 80px;
            margin: 10px;
            border-radius: 5px;
            font-family: 'Sitara', Arial, sans-serif;
            color: #fff;
            font-size: 13px;
            background-color: #4e525f;
            padding: 10px;

            .timestamp {
              font-size: 0.8em;
              color: #888;
            }
          }
        }
      }

      .message-field {
        width: 410px;
        //height: 60px;
        border-top: 1px solid #f0f0f0;
        display: flex;
        flex-direction: row;

        .attach{
          width: 18px;
          height: 18px;
          margin: 21px;
          background-image: url('svg-pic/attach.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          align-self: center;
        }

        .text-area{
          width: 254px;
          margin-top: 12px;
          margin-bottom: 12px;
          display: flex;
          align-items: center;

          textarea{
            width: 100%;
            resize:none;
	          border:none;
            display:block;
            outline: none;
            background-color:#fafafa;
            font-family: 'Sitara', Arial, sans-serif;
            color: #4e525f;
            font-size: 15px;
            height: 20px;
          }
        }

        .emoji{
          width: 18px;
          height: 18px;
          margin: 21px;
          background-image: url('svg-pic/smiley-happy.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          align-self: center;
        }

        .send{
          width: 18px;
          height: 18px;
          margin: 21px;
          margin-left: 0;
          background-image: url('svg-pic/cursor.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          align-self: center;
        }
      }
    }
  }
}


